<h4><%= @available_words %> words are present to make them availble for publish</h4>
<%= button_to "Publish",{:controller => :taboo_word_lists, :action => 'change_version_number',:method => :post}, data: {confirm: "Are you sure?"}%>
<h4>Want to add upload new words to database, click below</h4>
<%= button_to "Go for upload",new_taboo_word_list_path,:class => "button",:method => :get %>
