<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Upload New Word List</h1>
		<form action="/taboo_word_lists">
				<input type="file" id="file" name="file" accept="text/csv">
				<input type="submit">
		</form>
	</div>
</div>

<script>
	$( 'form' ).submit(function ( e ) {
	    var fileInput = document.getElementById('file');
			var file = fileInput.files[0];
			var formData = new FormData();
			formData.append('file',file);
			var xhr = new XMLHttpRequest();
			xhr.open('post','http://localhost:3000/taboo_word_lists',true);
			xhr.send(formData);
			xhr.onreadystatechange = function() {
    		if (xhr.readyState == 4) {
					var a = JSON.parse(xhr.responseText);
					alert("New Words Added : " + a.result.new_word_count + a.result.message + a.result.all_error_rows + "\n" + "Rows No. of file with error : " + a.result.words_with_error + "\n" +  "Repeating words in files : " + a.result.repeated_words)
    		}
  		}
	});
</script>
