<%= render 'layouts/header' %>
<div class="row">
	<div id="content">
		<h1>Upload New Word List</h1>
		<form>
				<input type="file" id="file" name="file" class="btn btn-default btn-lg active" accept="text/csv" >
				<input type="submit" class="btn btn-primary submit" >
				<button formaction="/" class="btn btn-primary submit" id="backToHome">Go back to home</button>
		</form>
	</div>
</div>

<script>
	$( 'form' ).submit(function ( e ) {
	    var fileInput = document.getElementById('file');
			var file = fileInput.files[0];
			var formData = new FormData();
			formData.append('file',file);
			var xhr = new XMLHttpRequest();
			xhr.open('post','http://localhost:3000/taboo_word_lists',true);
			xhr.send(formData);
			xhr.onreadystatechange = function() {
    		if (xhr.readyState == 4) {
					var a = JSON.parse(xhr.responseText);
					window.location = "http://localhost:3000?new_word=" + a.result.new_word_count + "&message=" + a.result.message + "&all_row_message=" + a.result.all_error_rows + "&error_row=" + a.result.words_with_error + "&repeat_words=" + a.result.repeated_words.length;
    		}
  		}
	});
</script>
