<h1>Upload New Word List</h1>

<!-- <div class="row">
	<div class="col-md-6 col-md-offset-3">
    <%= form_tag '/taboo_word_lists/',multipart: true,method: :post do %>
      <p>
        <%= file_field_tag 'upload',accept: 'text/csv' %>
      </p>
      <p>
        <%= submit_tag "Upload",data: {confirm: "Are you sure?"} %>
      </p>
    <% end %>
	</div>
</div> -->

<form>
    <input type="file" id="file" name="file">
    <input type="submit">
</form>
<script>
	$( 'form' ).submit(function ( e ) {
	    var fileInput = document.getElementById('file');
			var file = fileInput.files[0];
			var formData = new FormData();
			formData.append('file',file);
			var xhr = new XMLHttpRequest();
			xhr.open('post','http://localhost:3000/taboo_word_lists',true);
			xhr.onreadystatechange = function() {
    		if (xhr.readyState == 4) {
					alert("hello");
					// defensive check
      		if (typeof callback == "function") {
        		// apply() sets the meaning of "this" in the callback
        		callback.apply(xhr);
      }
    }
  }
			xhr.send(formData);
	});
</script>
